<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
	

<body>

<div layout:fragment="content">
    <div class="page-wrapper">

        <div class="main-content">
        
            

            <main class="content-area">
                <div class="link-card-list">
                    <a th:href="@{/guidelines/earthquake}">
                        <div class="card-icon">🏚️</div>
                        <div class="card-content">
                            <h4 data-ko="지진대책">地震対策</h4>
                            <p data-ko="진도에 따른 대응방법">振動による対応方法</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    
                    <a th:href="@{/guidelines/fire}">
                        <div class="card-icon">🔥</div>
                        <div class="card-content">
                            <h4 data-ko="화재대책">火事対策</h4>
                            <p data-ko="화재시 주의사항">火事時の注意事項</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    <a th:href="@{/guidelines/typhoon}">
                        <div class="card-icon">🌪️</div>
                        <div class="card-content">
                            <h4 data-ko="태풍대책">台風対策</h4>
                            <p data-ko="태풍 대응방법">台風の対応方法</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    <a th:href="@{/guidelines/tsunami}">
                        <div class="card-icon">🌊</div>
                        <div class="card-content">
                            <h4 data-ko="해일">津波</h4>
                            <p data-ko="거리별 대응방법">距離による対応方法</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    
                    <a th:href="@{/guidelines/heavyRain}">
                        <div class="card-icon">⛈️</div>
                        <div class="card-content">
                            <h4 data-ko="폭우">大雨</h4>
                            <p data-ko="폭우시 주의사항">大雨時の注意事項</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    <a th:href="@{/guidelines/heatWave}">
                        <div class="card-icon">🥵</div>
                        <div class="card-content">
                            <h4 data-ko="열사병">熱中症対策</h4>
                            <p data-ko="열사병 대처방법">熱中症の対応方法</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    <a th:href="@{/guidelines/heavySnow}">
                        <div class="card-icon">🌨️</div>
                        <div class="card-content">
                            <h4 data-ko="폭설">大雪</h4>
                            <p data-ko="폭설시 주의사항">大雪時の注意事項</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                    <a th:href="@{/guidelines/volcano}">
                        <div class="card-icon">🌋</div>
                        <div class="card-content">
                            <h4 data-ko="화산">火山噴火</h4>
                            <p data-ko="분화시 주의사항">噴火時の注意事項</p>
                        </div>
                        <div class="card-arrow">&gt;</div>
                    </a>
                </div>
            </main>
        </div>

       
    	 </div>
    </div>
</body>
</html>