<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<body>

<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="main-content">
            
            
            <main class="content-area">
                <h2 style="text-align: center;" data-ko="폭설대책">大雪対策</h2>
               
                <div class="accordion-card-list">
                
                		
                    <div class="card">
				        <div class="card-header" data-toggle="collapse" data-target="#collapseContent1">
				            
				            <div class="card-image-container">
				                <img src="/images/winter3.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter2.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter1.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-content">
				                <h4 data-ko="폭설전 대비">大雪前の備え</h4>
				            </div>
				            <div class="card-arrow">&gt;</div>
				        </div>
				        <div id="collapseContent1" class="collapse-content">
				            <p data-ko="ㄴ미끄럼 방지 부츠를 신고, 주머니에서 손을 빼주세요.">
				            ㄴ滑り止めブーツを履き、ポケットから手を入れないでください。</p>
				            <p data-ko="ㄴ스노체인을 장착하되, 되도록 버스, 지하철을 이용해주세요.">
				            ㄴスノーチェーンを装着しますが、できるだけバスや地下鉄を利用してください。</p>
				            <p data-ko="ㄴ외부에 노출된 수도관에 보온재를 감거나, 약하게 물을 틀어놓는 등의 동파 방지 조치를 합니다.">
				            ㄴ外部に露出した水道管に保温材を巻いたり、少しずつ水を出しておくなどの凍結防止措置をします。</p>
				            
				        </div>
				    </div>
				    <div class="card">
				        <div class="card-header" data-toggle="collapse" data-target="#collapseContent2">
				            <div class="card-image-container">
				                <img src="/images/winter7.jpg" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter4.jpg" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter5.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter6.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-content">
				                <h4 data-ko="주의사항">注意事項</h4>
				            </div>
				            <div class="card-arrow">&gt;</div>
				        </div>
				        <div id="collapseContent2" class="collapse-content">
				            <p data-ko="ㄴ횡단보도의 흰색 선, 계단 등은 압설 아이스반 상태이므로 극히 위험합니다.">
				            ㄴ横断歩道の白い線、階段などは、雪が踏み固められて滑りやすくなっていますので注意してください。。</p>
				            <p data-ko="ㄴ초기 제설로 지붕과 인도의 눈을 치워줍니다.">
				            ㄴ初期の除雪で屋根と歩道の雪を片付けます。</p>
				            <p data-ko="ㄴ지붕에서 떨어지는 눈덩이, 고드름에 주의해야 합니다.">
				            ㄴ屋根から落雪やつららに注意してください。</p>
				            <p data-ko="ㄴ도로주행, 횡단보도 등 눈으로 보이지 않을 수 있으니 주의해 주세요.">
				            ㄴ道路走行、横断歩道など、雪で見えない場合があるので注意してください。</p>
				        </div>
				    </div>
				    <div class="card">
				        <div class="card-header" data-toggle="collapse" data-target="#collapseContent3">
				            <div class="card-image-container">
				                <img src="/images/winter8.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter9.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-image-container">
				                <img src="/images/winter10.png" alt="폭설대처 방법">
				            </div>
				            <div class="card-content">
				                <h4 data-ko="주변정리">家の周辺を片付く</h4>
				            </div>
				            <div class="card-arrow">&gt;</div>
				        </div>
				        <div id="collapseContent3" class="collapse-content">
				            <p data-ko="ㄴ자동차의 배기관이 눈에 막혀있으면 배기가스가 실내로 유입될 수 있습니다. 반드시 배기관 주변의 눈을 주기적으로 치워야 합니다.">
				            ㄴ車の排気管が雪で塞がれたら排気ガスが車内に入る可能性があります。必ず排気管の雪を定期的に片付けてください。</p>
				            <p data-ko="ㄴ환풍기나 난방기구의 급배기구가 눈에 막히면 불완전 연소로 인한 일산화탄소 중독의 위험이 있으므로, 주변의 눈을 치워야 합니다.">
				            ㄴ換気扇や暖房器具の給排気口が雪で塞がれると、不完全燃焼による一酸化炭素中毒の危険性があるため、周辺の雪を片付けてください。</p>
				            
				        </div>
				    </div>
                    
                    
                </div>
            </main>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cardHeaders = document.querySelectorAll('.card-header');

        cardHeaders.forEach(header => {
            header.addEventListener('click', () => {
                const targetId = header.getAttribute('data-target');
                const targetElement = document.querySelector(targetId);

                // 콘텐츠가 이미 펼쳐져 있을 때
                if (targetElement.style.maxHeight) {
                    targetElement.style.maxHeight = null;
                    header.classList.remove('expanded');
                } else {
                    // 콘텐츠를 펼칠 때
                    targetElement.style.maxHeight = targetElement.scrollHeight + 'px';
                    header.classList.add('expanded');
                }
            });
        });
    });
</script>
</th:block>
</body>
</html>