<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<th:block th:fragment="footer">
		<footer class="footer">
            <div class="footer-section left">
        <h3>関連リンク</h3>
        <ul>
            <li><a href="https://www.jma.go.jp/jma/index.html" target="_blank">気象庁</a></li>
            <li><a href="https://news.web.nhk/kishou-saigai/" target="_blank">NHK防災情報</a></li>
            <li><a href="https://www.bousai.go.jp/" target="_blank">内閣府 防災情報</a></li>
        </ul>
    </div>

    <div class="footer-section center">
        <h4>ボウサイリンク</h4>
        <p>© 2025 Disaster Info Japan. All Rights Reserved.</p>
    </div>

    <div class="footer-section right">
        <h3>緊急連絡先</h3>
        <p>警察：110 / 消防・救急：119</p>
        <p>災害伝言ダイヤル：171</p>
    </div>
        </footer>
		
	</th:block>
</body>
</html>