<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<th:block th:fragment="footer">
		<footer class="footer">
            <div class="footer-section left">
                <h3 data-ko="관련 링크">関連リンク</h3>
                <ul>
                    <li><a href="https://www.jma.go.jp/jma/index.html" target="_blank" data-ko="기상청">気象庁</a></li>
                    <li><a href="https://news.web.nhk/kishou-saigai/" target="_blank" data-ko="NHK 방재 정보">NHK防災情報</a></li>
                    <li><a href="https://www.bousai.go.jp/" target="_blank" data-ko="내각부 방재 정보">内閣府 防災情報</a></li>
                </ul>
            </div>

            <div class="footer-section center">
                <h4>ボウサイリンク</h4>
                <p>© 2025 Disaster Info Japan. All Rights Reserved.</p>
            </div>

            <div class="footer-section right">
                <h3 data-ko="긴급 연락처">緊急連絡先</h3>
                <p data-ko="경찰: 110 / 소방・구급: 119">警察：110 / 消防・救急：119</p>
                <p data-ko="재해 전언 다이얼: 171">災害伝言ダイヤル：171</p>
            </div>
        </footer>
		
	</th:block>
</body>
</html>