<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<th:block th:fragment="header">

<header class="header">
    <div class="logo">
        <a th:href="@{/}" data-ko="보우사이링크">ボウサイリンク</a>
    </div>

    <div>
    		<nav>
          		<a th:href="@{/}" data-ko="맵">マップ</a>
                <a th:href="@{/guidelines/guide}" data-ko="재해대책">災害対策</a>
                <a th:href="@{/community/communityList}" data-ko="커뮤니티">コミュニティ</a>
                <a th:href="@{/member/myPage}" data-ko="마이페이지">マイページ</a>
        </nav>
    </div>

    <div class="user-options">
        <button id="langToggle" onclick="toggleLanguage()" data-ko="일본어">日本語</button>

        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/member/login}" data-ko="로그인">ログイン</a>
            <a th:href="@{/member/signup}" data-ko="회원가입">サインアップ</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <span th:text="${#authentication.principal.getNickname()}" style="margin-right: 10px;"></span>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer; text-decoration: underline; font-size: inherit;" data-ko="로그아웃">ログアウト</button>
            </form>
        </div>
    </div>
</header>

</th:block>
</body>
</html>